<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>YOOGA - Free Yoga Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">
                        <div class="text">
                            <i class="far fa-clock"></i>
                            <h2>8:00 - 17:00 | </h2>
                            <p>Thứ 2 - Thứ 7</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <h2>+092 752 8888</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">FY<span>o</span>ga</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link active">Trang Chủ</a>
                    <a href="price" class="nav-item nav-link">Gói học</a>
                    <a href="class" class="nav-item nav-link">Khóa học</a>
                    <a href="service" class="nav-item nav-link">Lịch học</a>
                    <a href="team" class="nav-item nav-link">Huấn luyện viên</a>
                    <a href="blog" class="nav-item nav-link">Blog</a>

                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <div class="dropdown-menu">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="single.html" class="dropdown-item">Blog chi tiết</a>
                        </div>
                    </div> -->
                    <a href="#contact" class="nav-item nav-link">Liên hệ</a>


                </div>
                <div class="nav-item nav-link-dk">
                    <i class="fa fa-user"></i>
                    <a href="login.html" class="a">Đăng nhập</a>
                    <a href="register.html" class="a">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->

    <div class="hero">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-text">
                        <h1>Asanas Yoga</h1>
                        <p>
                            Trong tiếng Phạn, asanas có nghĩa là các tư thế yoga. Các tư thế này sẽ khiến người tập có
                            cảm giác thoải mái, vững chắc về thể chất và sự điềm tĩnh về tinh thần. Các tư thế này sẽ
                            tác động đến tuyến giáp; các cơ quan thần kinh; các cơ; giúp điều hòa hoocmon nội tiết và
                            cân bằng cảm xúc hiệu quả.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="hero-image">
                        <img src="img/hatha.png" alt="Hatha Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="col-12" style="top:65px;">
                </div>
                <div class="col-12" style="top:65px;">
                    <a href="index.html">Home/</a>
                    <a href="AsanasYoga.html">Asanas Yoga</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="col-md-6">
            <h1>Tác dụng của việc tập Asanas Yoga</h1>
            <p>
                Thực hiện asanas trong Yoga có nhiều lợi ích cho cả cơ thể và tâm trí. Dưới đây là một số lợi ích của
                asanas trong Yoga:
            </p>
            <ul>
                <li>
                    <b>Tăng cường sức khỏe cơ thể</b>: Asanas giúp cải thiện sự linh hoạt, sức mạnh và sự cân bằng của
                    cơ thể. Thực hiện các tư thế Yoga thường xuyên có thể làm tăng sự lưu thông máu, cải thiện hệ tiêu
                    hóa, cung cấp năng lượng và tăng cường sự mạnh mẽ của cơ bắp và xương.
                </li>
                <li>
                    <b>Tập trung và thư giãn tâm trí</b>: Trong quá trình thực hiện asanas, sự tập trung và chú trọng
                    vào tư thế cơ thể giúp giảm căng thẳng, giải tỏa stress và tạo ra trạng thái tĩnh lặng trong tâm
                    trí.
                </li>
                <li>
                    <b>Tăng cường tư duy và sự tinh thần</b>: Thực hiện asanas đòi hỏi sự tập trung và kỹ năng tinh
                    thần. Việc
                    thực hành các tư thế Yoga giúp rèn luyện khả năng tập trung, kiên nhẫn và tự disziplin, đồng thời
                    tạo ra một trạng thái tĩnh lặng và thư thái trong tâm trí.
                </li>
                <li>
                    <b>Cải thiện quá trình tiêu hóa</b>: Một số asanas có thể kích thích quá trình
                    tiêu hóa và giúp cải thiện chức năng của hệ tiêu hóa. Chúng có thể giúp giảm triệu chứng táo bón,
                    cải thiện tuần hoàn máu và tăng cường sự hấp thụ
                </li>
            </ul>
        </div>
    </div>
    <section class="ftco-section">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h1>Lịch tập Asanas Yoga tại trung tâm</h1>
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="sched-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td class="color">
                                        <p class="time">7:00 - 8:00am</p>
                                    </td>
                                    <td class="color-2">

                                    </td>
                                    <td class="color-2">

                                    </td>
                                    <td class="color-2">

                                    </td>
                                    <td class="color-2">

                                    </td>
                                    <td class="color-2">

                                    </td>
                                    <td class="color-2">

                                    </td>
                                </tr><!-- END TR-->

                                <tr class="text-center">
                                    <td class="color">
                                        <p class="time">8:30 - 9:30am</p>
                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">

                                    </td>
                                </tr><!-- END TR-->

                                <tr class="text-center">
                                    <td class="color">
                                        <p class="time">10:00 - 11:00am</p>
                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>

                                </tr><!-- END TR-->
                                <tr class="text-center">
                                    <td class="color">
                                        <p class="time">6:00 - 7:00pm</p>
                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">

                                    </td>

                                </tr><!-- END TR-->
                                <tr class="text-center">
                                    <td class="color">
                                        <p class="time">7:30 - 8:30pm</p>
                                    </td>



                                    <td class="color-1">

                                    </td>

                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">

                                    </td>
                                </tr><!-- END TR-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Footer Start -->
    <div class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Tên của bạn"
                                    required="required"
                                    data-validation-required-message="Vui lòng nhập tên của bạn" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Email"
                                    required="required" data-validation-required-message="Vui lòng nhập email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Nhập tin nhắn" required="required"
                                    data-validation-required-message="Vui lòng nhập"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div>
                                <button class="btn" type="submit" id="sendMessageButton">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="footer-info">
                            <a href="index.html" class="footer-logo">FY<span>o</span>ga</a>
                            <h3>Lô E2a-7, Đường D1, Khu Công nghệ cao, P.Long Thạnh Mỹ, Tp. Thủ Đức, Tp.HCM</h3>
                            <div class="footer-menu">
                                <p>092 752 8888</p>
                                <p>fyoga@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="container copyright">
                        <div class="row">
                            <div class="col-md-6">
                                <p>&copy; <a href="#">FYoga</a></p>
                            </div>
                            <div class="col-md-6">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                <p>Được thiết kế bởi <a href="https://htmlcodex.com">HTML Codex</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>