<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FYOGA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">
                        <div class="text">
                            <i class="far fa-clock"></i>
                            <h2>8:00 - 17:00 | </h2>
                            <p>Thứ 2 - Thứ 7</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <h2>092 752 8888</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">FY<span>o</span>ga</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link active">Trang Chủ</a>
                    <a href="index.html" class="nav-item nav-link">Khóa học</a>
                    <a href="index.html" class="nav-item nav-link">Lịch học</a>
                    <a href="index.html" class="nav-item nav-link">Huấn luyện viên</a>
                    <a href="index.html" class="nav-item nav-link">Blog</a>


                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <div class="dropdown-menu">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="single.html" class="dropdown-item">Blog chi tiết</a>
                        </div>
                    </div> -->
                    <a href="#footer" class="nav-item nav-link">Liên hệ</a>


                </div>
                <div class="nav-item nav-link-dk">
                    <!-- <i class="fa fa-user"></i> -->
                    <a href="login.html" class="a">Đăng nhập</a>
                    <a href="register.html">Đăng kí</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->

    <div class="hero">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-text">
                        <h1>Hatha Yoga</h1>
                        <p>
                            Các lớp Hatha Yoga là nền tảng của mọi loại hình Yoga, rất phù hợp dành cho người mới bắt
                            đầu. Lớp thường có nhịp độ chậm rãi với các bài tập hít thở và các tư thế yoga cơ bản. Chuỗi
                            bài tập này nhằm lấy lại sự cân bằng cho cơ thể, khai mở quan năng và tăng sinh lực cho
                            người tập.
                        </p>
                        <a href="priceHatha.html" class="hero-button">Đăng Ký</a>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="hero-image">
                        <img src="img/hatha.png" alt="Hatha Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="col-12" style="top:65px;">
                </div>
                <div class="col-12" style="top:65px;">
                    <a href="index.html">Trang chủ/</a>
                    <a href="hatha.html">Hatha Yoga</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="col-md-6">
            <h1>Những lợi ích không thể bỏ qua của hatha yoga</h1>
            <p>
                Không phải tự nhiên mà phương pháp này được rất nhiều ưa chuộng và muốn thử. Có thể nó, những bài tập
                Hatha Yoga
                chính là cách giúp bạn nâng cao sức khoẻ và cải thiện tinh thần. Dưới đây là một số lợi ích quan trọng
                của Hatha Yoga:
            </p>
            <ul>
                <li>
                    <b>Tăng cường sức khỏe cơ bản</b>: Hatha Yoga giúp cải thiện sự linh hoạt, sức mạnh và sự cân bằng
                    của cơ thể.
                    Bằng cách tập trung vào các tư thế và bài tập tăng cường cơ bắp, người tập có thể phát triển một cơ
                    thể khỏe
                    mạnh và linh hoạt.
                </li>
                <li>
                    <b>Giảm căng thẳng và căng thẳng</b>: Hatha Yoga kết hợp các kỹ thuật thở và thiền định giúp giảm
                    căng thẳng,
                    giải tỏa stress và tạo ra trạng thái tĩnh lặng trong tâm trí.
                </li>
                <li>
                    <b>Cải thiện sức khỏe tâm thần</b>: Hatha Yoga có tác động tích cực đến tâm trí và cảm xúc. Việc
                    thực hiện các
                    tư thế, kết hợp với thực hành hơi thở và thiền định, giúp cải thiện tinh thần, tăng khả năng tập
                    trung và làm
                    tăng sự tỉnh táo.
                </li>
                <li>
                    <b>Tăng cường sự tỉnh táo và giúp giải quyết vấn đề</b>: Thông qua việc tăng cường tinh thần và khả
                    năng tập
                    trung, người tập có thể nhìn nhận các vấn đề và thách thức trong cuộc sống một cách rõ ràng và hiệu
                    quả hơn.
                </li>
                <li>
                    <b>Cải thiện hệ tiêu hóa và hô hấp</b>: Hatha Yoga kích thích và tăng cường hệ tiêu hóa và hô hấp.
                </li>
            </ul>
        </div>
    </div>

    <!-- Price Start -->
    <div class="price">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>Đăng ký học ngay với giá chỉ từ</h2>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="price-item">
                        <div class="price-header">
                            <div class="price-prices">
                                <h2>350K<span>/ tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>12 buổi/ 1 tháng</li>
                                    <li>Huấn luyện viên chuyên nghiệp</li>
                                    <li>Đăng ký lớp bất cứ lúc nào</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="priceHatha.html">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="price-item featured-item">
                        <div class="price-header">
                            <div class="price-status">
                                <span>Phổ biến</span>
                            </div>
                            <div class="price-prices">
                                <h2>500K<span>/ tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>20 buổi/ tháng</li>
                                    <li>Huấn luyện viên chuyên nghiệp</li>
                                    <li>Đăng ký lớp bất cứ lúc nào</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="priceHatha.html">Xem chi tiết</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Price End -->

    <!-- schedule Start -->
    <section class="ftco-section">
        <div class="container schedule-detail">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h1>Lịch tập</h1>
                <!-- <h3>Từ 19/06 - 14/07/2023</h3> -->
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="sched-text">
                        <h5>Nhấn vào từng lớp để xem thông tin chi tiết.</h5>
                        <button href="" id="openModalRequest">Đề Xuất Mở Lớp</button>
                    </div>
                    <div class="sched-list-course">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>Thứ 2</th>
                                    <th>Thứ 3</th>
                                    <th>Thứ 4</th>
                                    <th>Thứ 5</th>
                                    <th>Thứ 6</th>
                                    <th>Thứ 7</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td class="color-sche">
                                        <p class="time-sche">7:00 - 8:00</p>
                                    </td>
                                    <td class="color-2">
                                        <a href="feedback.html">Class A</a>
                                    </td>
                                    <td class="color-2">
                                        <a href="feedback.html">Class B</a>
                                    </td>
                                    <td class="color-2">
                                        <a href="feedback.html">Class A</a>
                                    </td>
                                    <td class="color-2">
                                        <a href="feedback.html">Class B</a>
                                    </td>
                                    <td class="color-2">
                                        <a href="feedback.html">Class A</a>
                                    </td>
                                    <td class="color-2">
                                        <a href="feedback.html">Class B</a>
                                    </td>
                                </tr><!-- END TR-->

                                <tr class="text-center">
                                    <td class="color-sche">
                                        <p class="time-sche">8:30 - 9:30</p>
                                    </td>
                                    <td class="color-3">
                                        Class C
                                    </td>
                                    <td class="color-3">
                                        Class D
                                    </td>
                                    <td class="color-3">
                                        Class C
                                    </td>
                                    <td class="color-3">
                                        Class D
                                    </td>
                                    <td class="color-3">
                                        Class C
                                    </td>
                                    <td class="color-3">
                                        Class D
                                    </td>
                                </tr><!-- END TR-->

                                <tr class="text-center">
                                    <td class="color-sche">
                                        <p class="time-sche">10:00 - 11:00</p>
                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">
                                        Class F
                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">
                                        Class F
                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">
                                        Class F
                                    </td>

                                </tr><!-- END TR-->
                                <tr class="text-center">
                                    <td class="color-sche">
                                        <p class="time-sche">18:00 - 19:00</p>
                                    </td>
                                    <td class="color-5">
                                        Class H
                                    </td>
                                    <td class="color-5">
                                        Class G
                                    </td>
                                    <td class="color-5">
                                        Class H
                                    </td>
                                    <td class="color-5">
                                        Class G
                                    </td>
                                    <td class="color-5">
                                        Class H
                                    </td>
                                    <td class="color-5">
                                        Class G
                                    </td>
                                </tr><!-- END TR-->
                                <tr class="text-center">
                                    <td class="color-sche">
                                        <p class="time-sche">19:30 - 20:30</p>
                                    </td>



                                    <td class="color-1">
                                        Class I
                                    </td>

                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">
                                        Class I
                                    </td>
                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">
                                        Class I
                                    </td>
                                    <td class="color-1">

                                    </td>
                                </tr><!-- END TR-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!-- <button href="" class="a pp" id="openModalButtonRegister">Đăng Ký</button> -->
    </section>
    <!-- schedule End -->

    <!-- Form đề xuất mở lớp  -->
    <div class="modal-request" id="requestModal">
        <div class="modal-request-container">
            <span class="close" id="myButton"><a>&times;</a></span>
            <header class="modal-header-register">
                Yêu cầu mở lớp
            </header>

            <div class="modal-body">
                <form id="myForm">
                    <div class="modal-request-content">
                        <div class="box-request">
                            <label for="">Tên khoá học</label>
                            <input class="modal-input" id="txtlogin" type="email" placeholder="Nhập tên khoá học"
                                required>
                        </div>

                        <div class="box-request">
                            <label for="">Tên user</label>
                            <input type="password" class="modal-input" placeholder="Nhập tên của bạn" required>
                        </div>

                        <div class="box-day">
                            <label for="">Thời gian</label>

                            <div class="modal-boxsh">
                                <input type="checkbox" name="class" value="Class A">Thứ 2
                            </div>

                            <div class="modal-boxsh">
                                <input type="checkbox" name="class" value="Class B">Thứ 3

                            </div>

                            <div class="modal-boxsh">
                                <input type="checkbox" name="class" value="Class C">Thứ 4

                            </div>

                            <div class="modal-boxsh">
                                <input type="checkbox" name="class" value="Class D">Thứ 5

                            </div>

                            <div class="modal-boxsh">
                                <input type="checkbox" name="class" value="Class F">Thứ 6
                            </div>

                            <div class="modal-boxsh">
                                <input type="checkbox" name="class" value="Class G">Thứ 7

                            </div>
                        </div>
                        <div class="box-slot">
                            <label for="">Slot</label>
                            <select name="" id="">
                                <option value="">7:00 - 8:00</option>
                                <option value="">8:30 - 9:30</option>
                                <option value="">10:00 - 11:00</option>
                                <option value="">18:00 - 19:00</option>
                                <option value="">19:30 - 20:30</option>
                            </select>
                        </div>
                    </div>
                    <button id="modal-login-button" type="submit">
                        Gửi
                    </button>
                </form>
            </div>
        </div>
    </div>

    <script>
        var openModalRequest = document.getElementById("openModalRequest");
        var requestModal = document.getElementById("requestModal");

        // xử lý đề xuất
        openModalRequest.onclick = function () {
            requestModal.style.display = "flex";
        }
        // Xử lý sự kiện khi nhấp vào bất kỳ vị trí nào bên ngoài cửa sổ đăng nhập
        window.onclick = function (event) {
            if (event.target == requestModal) {
                requestModal.style.display = "none";
            }
        }
    </script>

    <!-- Footer Start -->
    <div id="footer" class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Tên của bạn"
                                    required="required" data-validation-required-message="Vui lòng nhập tên của bạn" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Email"
                                    required="required" data-validation-required-message="Vui lòng nhập email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Nhập tin nhắn"
                                    required="required" data-validation-required-message="Vui lòng nhập"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div>
                                <button class="btn" type="submit" id="sendMessageButton">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="footer-info">
                            <a href="index.html" class="footer-logo">FY<span>o</span>ga</a>
                            <h3>Lô E2a-7, Đường D1, Khu Công nghệ cao, P.Long Thạnh Mỹ, Tp. Thủ Đức, Tp.HCM</h3>
                            <div class="footer-menu">
                                <p>092 752 8888</p>
                                <p>fyoga@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="container copyright">
                        <div class="row">
                            <div class="col-md-6">
                                <p>&copy; <a href="#">FYoga</a></p>
                            </div>
                            <div class="col-md-6">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                <p>Được thiết kế bởi <a href="https://htmlcodex.com">HTML Codex</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/functions.js"></script>
</body>

</html>