<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FYOGA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">
                        <div class="text">
                            <i class="far fa-clock"></i>
                            <h2>8:00 - 17:00 | </h2>
                            <p>Thứ 2 - Thứ 7</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <h2>092 752 8888</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">FY<span>o</span>ga</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link active">Trang Chủ</a>
                    <a href="#price" class="nav-item nav-link">Gói học</a>
                    <a href="#class" class="nav-item nav-link">Khóa học</a>
                    <a href="#service" class="nav-item nav-link">Lịch học</a>
                    <a href="#team" class="nav-item nav-link">Huấn luyện viên</a>
                    <a href="#blog" class="nav-item nav-link">Blog</a>

                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <div class="dropdown-menu">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="single.html" class="dropdown-item">Blog chi tiết</a>
                        </div>
                    </div> -->
                    <a href="#footer" class="nav-item nav-link">Liên hệ</a>
                </div>
                <div class="nav-item nav-link-dk">
                    <i class="fa fa-user"></i>
                    <button href="" class="a" id="openModalButtonLogin">Đăng nhập</button>
                    <button href="" class="a" id="openModalButtonRegister">Đăng Ký</button>
                </div>
            </div>
            
        </div>
    </div>
    <!-- Nav Bar End -->


    <!-- Hero Start -->
    <div class="hero">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-text">
                        <h1>Chúng tôi là FYOGA</h1>
                        <h2>Tập Yoga Để Có Sức Khỏe Tốt</h2>

                        <p>
                            Yoga là chiếc chìa khoá vàng để mở tung cánh cửa dẫn tới sự bình an, tĩnh lặng và niềm vui
                            sướng. Ngôn từ không thể lột tả hết được các giá trị của
                            yoga - để hiểu nó, bạn phải tự mình trải nghiệm
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="hero-image">
                        <img src="img/hero.png" alt="Hero Image">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->

    <!-- Price Start -->
    <div id="price" class="price">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>Học phí</h2>
            </div>
            <div class="row">
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="price-item">
                        <div class="price-header">
                            <div class="price-title">
                                <h2>Cơ bản</h2>
                            </div>
                            <div class="price-prices">
                                <h2>350.000 <small>đ</small><span>/tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>Hướng dẫn miễn phí</li>
                                    <li>Đào tạo nhóm</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="price.html">Đăng kí</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="price-item featured-item">
                        <div class="price-header">
                            <div class="price-status">
                                <span>Phổ biến</span>
                            </div>
                            <div class="price-title">
                                <h2>Tiêu chuẩn</h2>
                            </div>
                            <div class="price-prices">
                                <h2>450.000 <small>đ </small><span>/tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>Lớp đặc biệt</li>
                                    <li>Hướng dẫn miễn phí</li>
                                    <li>Đào tạo nhóm</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="price3.html">Đăng kí</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="price-item">
                        <div class="price-header">
                            <div class="price-title">
                                <h2>Cao cấp</h2>
                            </div>
                            <div class="price-prices">
                                <h2>550.000 <small>đ</small><span>/tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>Huấn luyện viên cá nhân</li>
                                    <li>Lớp đặc biệt</li>
                                    <li>Hướng dẫn miễn phí</li>
                                    <li>Đào tạo nhóm</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="price6.html">Đăng kí</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Price End -->


    <!-- Class Start -->
    <section class="ftco-section">
        <div id="class" class="class">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <h2>Khóa học</h2>
                </div>
                <div class="row class-container">
                    <div class="col-lg-3 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.0s">
                        <div class="class-wrap">
                            <div class="class-img package-program ftco-animate">
                                <a href="hatha.html" class="d-flex  justify-content-center  align-items-center"
                                    style="background-image: url(img/class-1.jpg); background-size: cover;">
                                    <div class="text p-5 text-center">
                                        <h5>Hatha Yoga</h5>
                                        <p>Các lớp Hatha Yoga là nền tảng của mọi loại hình Yoga, rất phù hợp dành cho
                                            người
                                            mới bắt đầu.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="class-text">
                                <a href="hatha.html">HATHA YOGA</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 class-item filter-2 wow fadeInUp" data-wow-delay="0.2s">
                        <div class="class-wrap">
                            <div class="class-img package-program ftco-animate">
                                <a href="AsanasYoga.html" class="d-flex  justify-content-center  align-items-center"
                                    style="background-image: url(img/class-2.jpg); background-size: cover;">
                                    <div class="text p-5 text-center">
                                        <h5>ASANAS YOGA</h5>
                                        <p>Trong tiếng Phạn, asanas có nghĩa là các tư thế yoga. </p>
                                    </div>
                                </a>
                            </div>
                            <div class="class-text">
                                <a href="AsanasYoga.html">ASANAS YOGA</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 class-item filter-3 wow fadeInUp" data-wow-delay="0.4s">
                        <div class="class-wrap">
                            <div class="class-img package-program ftco-animate">
                                <a href="trilieu.html" class="d-flex  justify-content-center  align-items-center"
                                    style="background-image: url(img/class-3.jpg); background-size: cover;">
                                    <div class="text p-5 text-center">
                                        <h5>YOGA TRỊ LIỆU</h5>
                                        <p>Yoga trị liệu là hình thức sử dụng các bài tập kết hợp giữa động tác.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="class-text">
                                <a href="trilieu.html">YOGA TRỊ LIỆU</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 class-item filter-1 wow fadeInUp" data-wow-delay="0.6s">
                        <div class="class-wrap">
                            <div class="class-img package-program ftco-animate">
                                <a href="YogaNghethuat.html" class="d-flex  justify-content-center  align-items-center"
                                    style="background-image: url(img/class-4.jpg); background-size: cover;">
                                    <div class="text p-5 text-center">
                                        <h5>YOGA NGHỆ THUẬT</h5>
                                        <p>Yoga nghệ thuật là hình thức yoga nâng cao tập trung vào các cơ hoặc nhóm cơ
                                            cụ
                                            thể.</p>
                                    </div>
                                </a>
                            </div>
                            <div class="class-text">
                                <a href="YogaNghethuat.html">YOGA NGHỆ THUẬT</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Class End -->

    <!-- Schedule Start -->
    <div id="service" class="service">
        <section class="ftco-section">
            <div class="container">
                <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                    <h2>Lịch học</h2>
                </div>
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <div class="sched-list">
                            <table class="table">
                                <thead class="thead-primary">
                                    <tr class="text-center">
                                        <th>&nbsp;</th>
                                        <th>Thứ 2</th>
                                        <th>Thứ 3</th>
                                        <th>Thứ 4</th>
                                        <th>Thứ 5</th>
                                        <th>Thứ 6</th>
                                        <th>Thứ 7</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="text-center">
                                        <td class="color">
                                            <p class="time">Slot 1</p>
                                            <p class="time">7h - 8h</p>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Morning Flow</a></h5>
                                            <span class="at">Advanced Sequence</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Cardio Program</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-2">
                                            <h5><a href="#">Body Building</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-3">
                                            <h5><a href="#">Bicep Pro</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Leg Strengthening</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-4">
                                            <h5><a href="#">Muscle Relax</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>
                                    </tr><!-- END TR-->

                                    <tr class="text-center">
                                        <td class="color">
                                            <p class="time">Slot 2</p>
                                            <p class="time">8h30 - 9h30</p>
                                        </td>

                                        <td class="color-1">
                                        </td>

                                        <td class="color-2">
                                            <h5><a href="#">Cardio Program</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-3">
                                            <h5><a href="#">Body Building</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-3">
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Leg Strengthening</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-5">
                                            <h5><a href="#">Muscle Relax</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>
                                    </tr><!-- END TR-->

                                    <tr class="text-center">
                                        <td class="color">
                                            <p class="time">Slot 3</p>
                                            <p class="time">10h - 11h</p>
                                        </td>

                                        <td class="color-3">
                                            <h5><a href="#">Morning Flow</a></h5>
                                            <span class="at">Advanced Sequence</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Cardio Program</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-2">
                                            <h5><a href="#">Body Building</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Bicep Pro</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Leg Strengthening</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-4">
                                            <h5><a href="#">Muscle Relax</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>
                                    </tr><!-- END TR-->
                                    <tr class="text-center">
                                        <td class="color">
                                            <p class="time">Slot 4</p>
                                            <p class="time">18h - 19h</p>
                                        </td>

                                        <td class="color-3">
                                            <h5><a href="#">Morning Flow</a></h5>
                                            <span class="at">Advanced Sequence</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Cardio Program</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-2">
                                            <h5><a href="#">Body Building</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Bicep Pro</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Leg Strengthening</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-4">
                                            <h5><a href="#">Muscle Relax</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>
                                    </tr><!-- END TR-->
                                    <tr class="text-center">
                                        <td class="color">
                                            <p class="time">Slot 5</p>
                                            <p class="time">19h30 - 20h30</p>
                                        </td>

                                        <td class="color-3">
                                            <h5><a href="#">Morning Flow</a></h5>
                                            <span class="at">Advanced Sequence</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Cardio Program</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-2">
                                            <h5><a href="#">Body Building</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Bicep Pro</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-1">
                                            <h5><a href="#">Leg Strengthening</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>

                                        <td class="color-4">
                                            <h5><a href="#">Muscle Relax</a></h5>
                                            <span class="at">Weight Loss</span>

                                            <span class="trainer">Maricar Collins</span>
                                        </td>
                                    </tr><!-- END TR-->

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Schedule End -->

    <!-- Teacher Start -->
    <div id="team" class="team">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>Huấn luyện viên</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-1.jpg" alt="Image">
                        </div>
                        <div class="team-text">
                            <h2>Millie Harper</h2>
                            <p>Yoga Teacher</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-2.jpg" alt="Image">
                        </div>
                        <div class="team-text">
                            <h2>Lilly Fry</h2>
                            <p>Yoga Teacher</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-3.jpg" alt="Image">
                        </div>
                        <div class="team-text">
                            <h2>Elise Moran</h2>
                            <p>Yoga Teacher</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Image">
                        </div>
                        <div class="team-text">
                            <h2>Kate Glover</h2>
                            <p>Yoga Teacher</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->


    <!-- Blog Start -->
    <div id="blog" class="blog">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>Bài viết mới nhất về Yoga</h2>
            </div>
            <div class="owl-carousel blog-carousel wow fadeInUp" data-wow-delay="0.1s">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="img/blog-1.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Lorem ipsum dolor</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-list-alt"></i>Body Fitness</p>
                            <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte
                            liqum metus tortor
                        </p>
                        <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="img/blog-2.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Lorem ipsum dolor</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-list-alt"></i>Body Fitness</p>
                            <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte
                            liqum metus tortor
                        </p>
                        <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="img/blog-3.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Lorem ipsum dolor</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-list-alt"></i>Body Fitness</p>
                            <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte
                            liqum metus tortor
                        </p>
                        <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="img/blog-4.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Lorem ipsum dolor</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-list-alt"></i>Body Fitness</p>
                            <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte
                            liqum metus tortor
                        </p>
                        <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="img/blog-5.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Lorem ipsum dolor</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-list-alt"></i>Body Fitness</p>
                            <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte
                            liqum metus tortor
                        </p>
                        <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="img/blog-6.jpg" alt="Blog">
                    </div>
                    <div class="blog-text">
                        <h2>Lorem ipsum dolor</h2>
                        <div class="blog-meta">
                            <p><i class="far fa-list-alt"></i>Body Fitness</p>
                            <p><i class="far fa-calendar-alt"></i>01-Jan-2045</p>
                            <p><i class="far fa-comments"></i>5</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte
                            liqum metus tortor
                        </p>
                        <a class="btn" href="">Read More <i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog End -->


    <!-- Modal Login -->
    <div class="modal-login open" id="loginModal">
        <div class="modal-container">
            <span class="close" id="myButton">&times;</span>
            <header class="modal-header">
                Đăng Nhập
            </header>

            <div class="modal-body">
                <div class="modal-login-user">
                    <label for="" class="modal-label">
                        <i class="ti-user"></i>
                    </label>
                    <input class="modal-input" placeholder="Tên đăng nhập" required>
                </div>


                <label for="" class="modal-label">
                    <i class="ti-lock"></i>
                </label>
                <input class="modal-input" placeholder="Mật khẩu" required>

                <button id="modal-login-button" type="submit">
                    Đăng Nhập
                </button>
            </div>

            <footer class="modal-footer">
                <p class="modal-register-but"><a href="#" id="register-link">Bạn chưa có tài khoản?</a></p>
            </footer>

        </div>
    </div>


    <!-- Modal register  -->
    <div class="modal-register" id="registerModal">
        <div class="modal-container-register">
            <span class="close" id="myButton"><a>&times;</a></span>
            <header class="modal-header-register">
                Đăng Ký
            </header>

            <form action="#">
                <div class="modal-body-re">
                    <div class="modal-box">
                        <span class="details">Họ</span>
                        <input class="modal-input-name" placeholder="Nhập họ của bạn" required>
                    </div>

                    <div class="modal-box">
                        <span class="details">Tên</span>
                        <input class="modal-input-name" placeholder="Nhập tên của bạn" required>
                    </div>

                    <div class="modal-box">
                        <span class="details">Email</span>
                        <input type="email" class="modal-input-name" placeholder="Nhập email của bạn">
                    </div>

                    <div class="modal-box">
                        <span class="details">Số điện thoại</span>
                        <input class="modal-input-name" placeholder="Nhập số điện thoại của bạn" required>
                    </div>

                    <div class="modal-box">
                        <span class="details">Mật khẩu</span>
                        <input type="password" class="modal-input-name" placeholder="Nhập mật khẩu của bạn" required>
                    </div>

                    <div class="modal-box">
                        <span class="details">Xác thực mật khẩu</span>
                        <input type="password" class="modal-input-name" placeholder="Nhập lại mật khẩu của bạn"
                            required>
                    </div>

                    <div class="modal-day">
                        <span class="details">Ngày sinh</span>
                        <input type="text" class="modal-input-register" placeholder="Ngày" required>
                        <input type="text" class="modal-input-register" placeholder="Tháng" required>
                        <input type="text" class="modal-input-register" placeholder="Năm" required>
                    </div>

                    <div class="modal-gender">
                        <span class="gender-title">Giới tính</span>
                        <input type="radio" name="gender">Nam
                        <input type="radio" name="gender">Nữ
                    </div>
                </div>
            </form>

            <button id="modal-login-button-re" type="submit">
                Đăng Ký
            </button>

            <footer class="modal-footer">
                <p class="modal-register-but" id="login-link"><a href="#">Bạn đã có tài khoản?</a></p>
            </footer>
        </div>
    </div>


    <!-- Footer Start -->
    <div id="footer" class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Tên của bạn"
                                    required="required" data-validation-required-message="Vui lòng nhập tên của bạn" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Email"
                                    required="required" data-validation-required-message="Vui lòng nhập email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Nhập tin nhắn"
                                    required="required" data-validation-required-message="Vui lòng nhập"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div>
                                <button class="btn" type="submit" id="sendMessageButton">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="footer-info">
                            <a href="index.html" class="footer-logo">FY<span>o</span>ga</a>
                            <h3>Lô E2a-7, Đường D1, Khu Công nghệ cao, P.Long Thạnh Mỹ, Tp. Thủ Đức, Tp.HCM</h3>
                            <div class="footer-menu">
                                <p>092 752 8888</p>
                                <p>fyoga@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="container copyright">
                        <div class="row">
                            <div class="col-md-6">
                                <p>&copy; <a href="#">FYoga</a></p>
                            </div>
                            <div class="col-md-6">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                <p>Được thiết kế bởi <a href="https://htmlcodex.com">HTML Codex</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/functions.js"></script>
</body>

</html>