<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FYOGA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">
                        <div class="text">
                            <i class="far fa-clock"></i>
                            <h2>8:00 - 17:00 | </h2>
                            <p>Thứ 2 - Thứ 7</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <h2>092 752 8888</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">FY<span>o</span>ga</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link active">Trang Chủ</a>
                    <a href="index.html" class="nav-item nav-link">Khóa học</a>
                    <a href="index.html" class="nav-item nav-link">Lịch học</a>
                    <a href="index.html" class="nav-item nav-link">Huấn luyện viên</a>
                    <a href="index.html" class="nav-item nav-link">Blog</a>

                    <!-- <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                    <div class="dropdown-menu">
                        <a href="blog.html" class="dropdown-item">Blog Grid</a>
                        <a href="single.html" class="dropdown-item">Blog chi tiết</a>
                    </div>
                </div> -->
                    <a href="index.html" class="nav-item nav-link">Liên hệ</a>
                </div>
                <div class="nav-item nav-link-dk">
                    <!-- <i class="fa fa-user"></i> -->
                    <!-- <a href="login.html" class="a" >Đăng nhập</a> -->
                    <a href="register.html" class="a" id="openModalButtonRegister">Đăng Ký</a>
                </div>
            </div>

        </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Modal Login -->
    <div class="modal-login open" id="loginModal">
        <div class="modal-container">
            <span class="close" id="myButton">&times;</span>
            <header class="modal-header">
                Đăng Nhập
            </header>

            <div class="modal-body">
                <form id="myForm">
                    <div class="modal-login-user">
                        <input class="modal-input" id="txtlogin" placeholder="Email đăng nhập" required><br>
                        <span id="error1" style="display: none; color: red;">Vui lòng nhập đúng địa chỉ email.</span>

                        <input type="password" class="modal-input" placeholder="Mật khẩu" required>
                    </div>
                    <button id="modal-login-button" type="submit">
                        Đăng Nhập
                    </button>
                </form>
            </div>

            <footer class="modal-footer">
                <p class="modal-register-but"><a href="register.html" id="register-link">Bạn chưa có tài khoản?</a></p>
                <p class="modal-register-but"><a href="#">Quên mật khẩu?</a></p>
            </footer>

        </div>
    </div>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    <!-- xử lý check login-->
    <script>
        var inputElement = document.getElementById("modal-login-button");
        var errorElement = document.getElementById("error1");


        inputElement.addEventListener("click", function (event) {
            var nameInput = document.getElementById("txtlogin");
            // Kiểm tra định dạng địa chỉ email
            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            for (let index = 0; ; index++) {
                if (nameInput.value === "" || !emailRegex.test(nameInput.value)) {
                    // alert("Vui lòng nhập đúng địa chỉ email.");
                    errorElement.style.display = "inline";
                    event.preventDefault();
                    return true;
                } else {
                    // Ẩn thông báo lỗi nếu giá trị hợp lệ
                    errorElement.style.display = "none";
                    break;
                };

            }


        });

    </script>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <script src="js/functions.js"></script>
    <Script src="js/main.js"></Script>
</body>

</html>