<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FYOGA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">
                        <div class="text">
                            <i class="far fa-clock"></i>
                            <h2>8:00 - 17:00 | </h2>
                            <p>Thứ 2 - Thứ 7</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <h2>092 752 8888</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">FY<span>o</span>ga</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link active">Trang Chủ</a>
                    <a href="index.html" class="nav-item nav-link">Khóa học</a>
                    <a href="index.html" class="nav-item nav-link">Lịch học</a>
                    <a href="index.html" class="nav-item nav-link">Huấn luyện viên</a>
                    <a href="index.html" class="nav-item nav-link">Blog</a>


                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <div class="dropdown-menu">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="single.html" class="dropdown-item">Blog chi tiết</a>
                        </div>
                    </div> -->
                    <a href="#footer" class="nav-item nav-link">Liên hệ</a>


                </div>
                <div class="nav-item nav-link-dk">
                    <!-- <i class="fa fa-user"></i> -->
                    <a href="login.html" class="a">Đăng nhập</a>
                    <a href="register.html">Đăng kí</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->


    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>GÓI ASANAS YOGA</h2>
                    <p>1 tháng = 4 tuần</p>
                </div>
                <div class="col-12">
                    <a href="index.html">Trang chủ</a>
                    <a href="AsanasYoga.html">Khoá học</a>
                    <a href="">Gói học</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- Price Start -->
    <div class="price">
        <div class="container">

            <!-- -----Asanas-1thang------ -->
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h3>GÓI 1 THÁNG</h3>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="price-item">
                        <div class="price-header">
                            <div class="price-prices">
                                <h2>450K<span>/ tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>12 buổi/ 1 tháng</li>
                                    <li>Huấn luyện viên chuyên nghiệp</li>
                                    <li>Đăng ký lớp bất cứ lúc nào</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="">Đăng Ký</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="price-item featured-item">
                        <div class="price-header">
                            <div class="price-status">
                                <span>Phổ biến</span>
                            </div>
                            <div class="price-prices">
                                <h2>700K<span>/ tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>20 buổi/ 1 tháng</li>
                                    <li>Huấn luyện viên chuyên nghiệp</li>
                                    <li>Đăng ký lớp bất cứ lúc nào</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="">Đăng Ký</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- -----Asanas-3thang------ -->
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <br>
                <h3>GÓI 3 THÁNG</h3>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="price-item">
                        <div class="price-header">
                            <div class="price-prices">
                                <h4 class="p"><del>1.350K/ 3 tháng</del></h4>
                                <h2>1.215K<span>/ 3 tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>36 buổi/ 3 tháng</li>
                                    <li>Huấn luyện viên chuyên nghiệp</li>
                                    <li>Đăng ký lớp bất cứ lúc nào</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="">Đăng Ký</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="price-item featured-item">
                        <div class="price-header">
                            <div class="price-prices">
                                <h4><del>2.100K/ 3 tháng</del></h4>
                                <h2>1.890K<span>/ 3 tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>60 buổi/ 3 tháng</li>
                                    <li>Huấn luyện viên chuyên nghiệp</li>
                                    <li>Đăng ký lớp bất cứ lúc nào</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="">Đăng Ký</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <!-- -----Asanas-6thang------ -->
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <br>
                <h3>GÓI 6 THÁNG</h3>
            </div>
            <div class="row">
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.0s">
                    <div class="price-item">
                        <div class="price-header">
                            <div class="price-prices">
                                <h4 class="p"><del>2.700K/ 6 tháng</del></h4>
                                <h2>2.430K<span>/ 6 tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>72 buổi/ 6 tháng</li>
                                    <li>Huấn luyện viên chuyên nghiệp</li>
                                    <li>Đăng ký lớp bất cứ lúc nào</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="">Đăng Ký</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="price-item featured-item">
                        <div class="price-header">
                            <div class="price-prices">
                                <h4><del>4.200K/ 6 tháng</del></h4>
                                <h2>3.780K<span>/ 6 tháng</span></h2>
                            </div>
                        </div>
                        <div class="price-body">
                            <div class="price-description">
                                <ul>
                                    <li>120 buổi/ 6 tháng</li>
                                    <li>Huấn luyện viên chuyên nghiệp</li>
                                    <li>Đăng ký lớp bất cứ lúc nào</li>
                                </ul>
                            </div>
                        </div>
                        <div class="price-footer">
                            <div class="price-action">
                                <a class="btn" href="">Đăng Ký</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Price End -->


    <!-- Discount Start -->
    <div class="discount wow zoomIn" data-wow-delay="0.1s" style="margin-bottom: 90px;">
        <div class="container">
            <div class="section-header text-center">
                <p>KHUYẾN MÃI</p>
                <h2>TẶNG <span>10 BUỔI</span> <br> Khi tích luỹ đủ 100 buổi</h2>
            </div>
        </div>
    </div>
    <!-- Discount End -->


    <!-- Footer Start -->
    <div id="contact" class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Tên của bạn"
                                    required="required" data-validation-required-message="Vui lòng nhập tên của bạn" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Email"
                                    required="required" data-validation-required-message="Vui lòng nhập email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" required="required"
                                    placeholder="Nhập tin nhắn"
                                    data-validation-required-message="Vui lòng nhập"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div>
                                <button class="btn" type="submit" id="sendMessageButton">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="footer-info">
                            <a href="index.html" class="footer-logo">FY<span>o</span>ga</a>
                            <h3>Lô E2a-7, Đường D1, Khu Công nghệ cao, P.Long Thạnh Mỹ, Tp. Thủ Đức, Tp.HCM</h3>
                            <div class="footer-menu">
                                <p>092 752 8888</p>
                                <p>fyoga@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="container copyright">
                        <div class="row">
                            <div class="col-md-6">
                                <p>&copy; <a href="#">FYoga</a></p>
                            </div>
                            <div class="col-md-6">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                <p>Được thiết kế bởi <a href="https://htmlcodex.com">HTML Codex</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/functions.js"></script>
</body>

</html>