<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FYOGA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">
                        <div class="text">
                            <i class="far fa-clock"></i>
                            <h2>8:00 - 17:00 | </h2>
                            <p>Thứ 2 - Thứ 7</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <h2>092 752 8888</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">


            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto" style="transform: translateX(-330px);">
                    <a href="index.html" class="navbar-brand">FY<span>o</span>ga</a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="nav-item nav-link-dk">
                    <!-- <i class="fa fa-user"></i> -->
                    <a href="login.html" class="a" id="openModalButtonLogin">Đăng nhập</a>

                </div>
            </div>

        </div>
    </div>

    <!-- Modal register  -->
    <div class="modal-login" id="registerModal">
        <div class="modal-container-register">
            <span class="close" id="myButton"><a>&times;</a></span>
            <header class="modal-header-register">
                Đăng Ký
            </header>

            <form action="#">
                <div class="modal-body-re">
                    <div class="modal-box">
                        <span class="details">Họ và tên</span>
                        <input class="modal-input-name" type="text" placeholder="Nhập họ và tên của bạn" required>
                    </div>
                    <div class="modal-box">
                        <span class="details">Mật khẩu</span>
                        <input type="password" class="modal-input-name" id="passwordInput"
                            placeholder="Nhập mật khẩu của bạn" required>
                    </div>


                    <div class="modal-box">
                        <span class="details">Số điện thoại</span>
                        <input class="modal-input-name" id="phoneInput" placeholder="Nhập số điện thoại của bạn"
                            type="text" required>
                        <span id="phoneError"
                            style="display: none; color: red; justify-content: center; margin-bottom: 5px;">Vui lòng
                            nhập số điện thoại bắt đầu từ 0 và có 9 đến 11 số.</span>
                    </div>

                    <div class="modal-box">
                        <span class="details">Xác thực mật khẩu</span>
                        <input type="password" class="modal-input-name" id="confirmPasswordInput"
                            placeholder="Nhập lại mật khẩu của bạn" required>
                        <span id="passwordMatchError"
                            style="display: none; color: red; justify-content: center; margin-bottom: 5px;">Mật
                            khẩu xác thực không đúng.</span>
                    </div>
                    <div class="modal-box">
                        <span class="details">Email</span>
                        <input type="email" class="modal-input-name" id="txtlogin" placeholder="Nhập email của bạn">

                    </div>

                    <div class="modal-gender"><br>
                        <span class="gender-title">Giới tính</span>
                        <input type="radio" name="gender" id="genderNam">Nam
                        <input type="radio" name="gender" id="genderNu">Nữ
                    </div>
                    <button id="modal-login-button-re" type="submit">
                        Đăng Ký
                    </button>
                </div>

            </form>

            <footer class="modal-footer">
                <p class="modal-register-but" id="login-link"><a href="login.html">Bạn đã có tài khoản?</a></p>
            </footer>
        </div>
    </div>


    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- xử lý check Email-->
    <script>
        var inputElement = document.getElementById("modal-login-button-re");
        var errorElement = document.getElementById("error1");


        inputElement.addEventListener("click", function (event) {
            // Kiểm tra số điện thoại
            var phoneInput = document.getElementById("phoneInput");
            var phoneNumber = phoneInput.value;
            var phoneError = document.getElementById("phoneError");
            while (true) {
                // Kiểm tra số điện thoại có bắt đầu bằng số 0 và tối đa 11 số
                if (!phoneNumber.match(/^0[0-9]{9,10}$/)) {
                    phoneError.style.display = "block";
                    return false; // Ngăn form submit
                } else {
                    phoneError.style.display = "none";
                    break;
                }
            }

            // Kiểm tra xác thực mật khẩu
            var passwordInput = document.getElementById("passwordInput");
            var confirmPasswordInput = document.getElementById("confirmPasswordInput");
            var passwordMatchError = document.getElementById("passwordMatchError");
            while (true) {
                if (passwordInput.value !== confirmPasswordInput.value) {
                    passwordMatchError.style.display = "block";
                    return false; // Ngăn form submit
                } else {
                    passwordMatchError.style.display = "none";
                    break;
                }
            }

        });


    </script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/functions.js"></script>
</body>

</html>