<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>FYOGA</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>

    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">
                        <div class="text">
                            <i class="far fa-clock"></i>
                            <h2>8:00 - 17:00 | </h2>
                            <p>Thứ 2 - Thứ 7</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <h2>092 752 8888</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">FY<span>o</span>ga</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav ml-auto">
                        <a href="index-user.html" class="nav-item nav-link">Trang Chủ</a>
                        <a href="index-user.html" class="nav-item nav-link">Khóa học</a>
                        <a href="index-user.html" class="nav-item nav-link">Lịch học</a>
                        <a href="index-user.html" class="nav-item nav-link">Huấn luyện viên</a>
                        <a href="blog.html" class="nav-item nav-link">Blog</a>
                        <a href="#footer" class="nav-item nav-link">Liên hệ</a>
                    </div>
                    <div class="nav-item nav-link-dk">
                        <i class="fa fa-user"></i>
                        <a href="index.html" class="a">Đăng Xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->

    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Lịch học Hatha Yoga</h2>
                </div>
                <div class="col-12">
                    <a href="index-user.html">Trang chủ</a>
                    <a href="user.html">Học viên</a>
                    <a href="">Lịch học</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- schedule Start -->
    <section class="ftco-section">
        <div class="container schedule-detail">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h2>Lịch tập</h1>
                    <!-- <h3>Từ 19/06 - 14/07/2023</h3> -->
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="sched-text">
                        <h5>Nhấn vào từng lớp để xem thông tin chi tiết.</h5>
                        <button href="" id="openModalRequest">Đề Xuất Mở Lớp</button>
                    </div>
                    <div class="sched-list-course">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>Thứ 2</th>
                                    <th>Thứ 3</th>
                                    <th>Thứ 4</th>
                                    <th>Thứ 5</th>
                                    <th>Thứ 6</th>
                                    <th>Thứ 7</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td class="color-sche">
                                        <p class="time-sche">7:00 - 8:00</p>
                                    </td>
                                    <td class="color-2">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T2-S1</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                    <td class="color-2">
                                        <a href=""></a>
                                    </td>
                                    <td class="color-2">
                                        <a href=""></a>
                                    </td>
                                    <td class="color-2">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T5-S1</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                    <td class="color-2">
                                        <a href=""></a>
                                    </td>
                                    <td class="color-2">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T7-S1</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                </tr><!-- END TR-->

                                <tr class="text-center">
                                    <td class="color-sche">
                                        <p class="time-sche">8:30 - 9:30</p>
                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T4-S2</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T7-S2</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                </tr><!-- END TR-->

                                <tr class="text-center">
                                    <td class="color-sche">
                                        <p class="time-sche">10:00 - 11:00</p>
                                    </td>
                                    <td class="color-4">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T2-S3</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                    <td class="color-4">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T3-S3</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>

                                </tr><!-- END TR-->
                                <tr class="text-center">
                                    <td class="color-sche">
                                        <p class="time-sche">18:00 - 19:00</p>
                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T4-S4</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T6-S4</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                    <td class="color-5">

                                    </td>
                                </tr><!-- END TR-->
                                <tr class="text-center">
                                    <td class="color-sche">
                                        <p class="time-sche">19:30 - 20:30</p>
                                    </td>
                                    <td class="color-1">

                                    </td>

                                    <td class="color-1">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T3-S5</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T5-S5</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                    <td class="color-1">
                                        <a style="font-size: 18px;" href="feedback.html">Hatha-T6-S5</a> <br>
                                        <p class="trainer">Giáo viên A</p>
                                    </td>
                                    <td class="color-1">

                                    </td>
                                </tr><!-- END TR-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <button href="" class="a pp" id="openModalButtonRegister">Đăng Ký</button>
    </section>
    <!-- schedule End -->

    <!-- Form đề xuất mở lớp  -->
    <form method="post" action="">
        <div class="modal-request" id="requestModal">
            <div class="modal-request-container">
                <span class="close" id="myButton"><a>&times;</a></span>
                <header class="modal-header-register">
                    Yêu cầu mở lớp
                </header>
                <div class="modal-body">
                    <form id="myForm">
                        <div class="modal-request-content">
                            <div class="box-request">
                                <label for="">Tên khoá học</label>
                                <input class="modal-input" id="txtlogin" type="text" placeholder="Hatha Yoga" readonly>
                            </div>
                            <div class="box-request">
                                <label for="">Tên học viên</label>
                                <input type="text" class="modal-input" placeholder="Pon" readonly>
                            </div>
                            <div class="box-day">
                                <label for="">Thời gian</label>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class A">Thứ 2
                                </div>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class B">Thứ 3
                                </div>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class C">Thứ 4
                                </div>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class D">Thứ 5
                                </div>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class F">Thứ 6
                                </div>
                                <div class="modal-boxsh">
                                    <input type="checkbox" name="class" value="Class G">Thứ 7
                                </div>
                            </div>
                            <div class="box-slot">
                                <label for="">Slot</label>
                                <select name="" id="">
                                    <option value="">7:00 - 8:00</option>
                                    <option value="">8:30 - 9:30</option>
                                    <option value="">10:00 - 11:00</option>
                                    <option value="">18:00 - 19:00</option>
                                    <option value="">19:30 - 20:30</option>
                                </select>
                            </div>
                        </div>
                        <button id="modal-login-button" onclick="showFormSuccess()" type="button">
                            Gửi
                        </button>
                        <br><br>
                        <footer class="modal-footer-schedule">
                            <a href="schedule-detail.html">Hủy</a>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </form>

    <!-- Form Đăng ký lớp  -->
    <div class="modal-schedule" id="registerModal">
        <div class="modal-container-schedule-end">
            <span class="close" id="myButton"><a>&times;</a></span>
            <header class="modal-header-register">
                Đăng Ký
            </header>

            <form action="#" method="post">
                <div class="modal-body-schedule">
                    <div class="box-request">
                        <label for="">Tên khoá học</label>
                        <input class="modal-input" id="txtlogin" type="text" placeholder="Hatha Yoga" readonly>
                    </div>
                    <div class="box-slot">
                        <label for="">Tên lớp</label>
                        <select>
                            <option value="">Hatha-T2-S1</option>
                            <option value="">Hatha-T3-S1</option>
                            <option value="">Hatha-T4-S2</option>
                            <option value="">Hatha-T5-S4</option>
                            <option value="">Hatha-T6-S5</option>
                            <option value="">Hatha-T2-S1</option>
                        </select>
                    </div>
                </div>
            </form>

            <button onclick="showFormSuccess2()" id="modal-login-button-re" type="submit">
                Đăng Ký
            </button>

            <footer class="modal-footer-schedule">
                <a href="schedule-detail.html">Hủy</a>
            </footer>
        </div>
    </div>

    <!-- Form thông báo đky thành công  -->
    <form method="post" action="">
        <div class="modal-schedule" id="successModal2">
            <div class="modal-container-success">
                <span class="close" id="myButton"><a>&times;</a></span>
                <header class="modal-header-register">
                    <img
                        src="img/kisspng-check-mark-tick-clip-art-green-tick-mark-5aa8e457000d23.5682297315210179430002.png">
                </header>
                    <div class="modal-body-schedule">
                        <h3 class="mo">Bạn đã đăng ký lớp thành công</h3>
                        <!-- <h5 class="mo">Vui lòng xem lịch học để đăng ký lớp</h5> -->
                    </div>
                <a id="modal-login-button-re-hatha" href="schedule-detail.html" type="submit">
                    Đóng
                </a>
            </div>
        </div>
    </form>

    <!-- Form thông báo đề xuất thành công  -->
    <form method="post" action="">
        <div class="modal-schedule" id="successModal">
            <div class="modal-container-success">
                <span class="close" id="myButton"><a>&times;</a></span>
                <header class="modal-header-register">
                    <img
                        src="img/kisspng-check-mark-tick-clip-art-green-tick-mark-5aa8e457000d23.5682297315210179430002.png">
                </header>
                    <div class="modal-body-schedule">
                        <h3 class="mo">Bạn đã đề xuất lịch học thành công</h3>
                        <!-- <h5 class="mo">Vui lòng xem lịch học để đăng ký lớp</h5> -->
                    </div>
                <a id="modal-login-button-re-hatha" href="schedule-detail.html" type="submit">
                    Đóng
                </a>
            </div>
        </div>
    </form>

    <script>
        var openModalRequest = document.getElementById("openModalRequest");
        var requestModal = document.getElementById("requestModal");

        // xử lý đề xuất
        openModalRequest.onclick = function () {
            requestModal.style.display = "flex";
        }
       

        function showFormSuccess() {
            var successModal = document.getElementById("successModal");
            successModal.style.display = "flex";
        }
        function showFormSuccess2() {
            var successModal2 = document.getElementById("successModal2");
            successModal2.style.display = "flex";
        }
    </script>





    <!-- Footer Start -->
    <div id="footer" class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Tên của bạn"
                                    required="required" data-validation-required-message="Vui lòng nhập tên của bạn" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Email"
                                    required="required" data-validation-required-message="Vui lòng nhập email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Nhập tin nhắn"
                                    required="required" data-validation-required-message="Vui lòng nhập"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div>
                                <button class="btn" type="submit" id="sendMessageButton">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="footer-info">
                            <a href="index.html" class="footer-logo">FY<span>o</span>ga</a>
                            <h3>Lô E2a-7, Đường D1, Khu Công nghệ cao, P.Long Thạnh Mỹ, Tp. Thủ Đức, Tp.HCM</h3>
                            <div class="footer-menu">
                                <p>092 752 8888</p>
                                <p>fyoga@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="container copyright">
                        <div class="row">
                            <div class="col-md-6">
                                <p>&copy; <a href="#">FYoga</a></p>
                            </div>
                            <div class="col-md-6">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                <p>Được thiết kế bởi <a href="https://htmlcodex.com">HTML Codex</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
    <script src="js/functions.js"></script>