<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>YOOGA - Free Yoga Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar d-none d-md-block">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="top-bar-left">
                        <div class="text">
                            <i class="far fa-clock"></i>
                            <h2>8:00 - 17:00 | </h2>
                            <p>Thứ 2 - Thứ 7</p>
                        </div>
                        <div class="text">
                            <i class="fa fa-phone-alt"></i>
                            <h2>092 752 8888</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a href="index.html" class="navbar-brand">FY<span>o</span>ga</a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="index.html" class="nav-item nav-link active">Trang Chủ</a>
                    <a href="price.html" class="nav-item nav-link">Gói học</a>
                    <a href="index.html" class="nav-item nav-link">Khóa học</a>
                    <a href="index.html" class="nav-item nav-link">Lịch học</a>
                    <a href="index.html" class="nav-item nav-link">Huấn luyện viên</a>
                    <a href="index.html" class="nav-item nav-link">Blog</a>

                    <!-- <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                        <div class="dropdown-menu">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="single.html" class="dropdown-item">Blog chi tiết</a>
                        </div>
                    </div> -->
                    <a href="#footer" class="nav-item nav-link">Liên hệ</a>


                </div>
                <div class="nav-item nav-link-dk">
                    <i class="fa fa-user"></i>
                    <a href="login.html" class="a">Đăng nhập</a>
                    <a href="register.html" class="a">Đăng ký</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Nav Bar End -->

    <div class="hero">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-6">
                    <div class="hero-text">
                        <h1>Yoga Nghệ Thuật</h1>
                        <p>
                            Yoga nghệ thuật là hình thức yoga nâng cao tập trung vào các cơ hoặc nhóm cơ cụ thể. Mỗi
                            buổi tập yoga dành riêng cho một bộ phận cơ thể hoặc cơ bắp khác nhau. Một hình thức yoga
                            được nghiên cứu kỹ lưỡng làm săn chắc các cơ và giúp giảm cân thực sự nhanh chóng.
                        </p>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="hero-image">
                        <img src="img/hatha.png" alt="Nghe thuat Image">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="text-align: center;">
                <div class="col-12" style="top:65px;">
                    <h2>Class</h2>
                </div>
                <div class="col-12" style="top:65px;">
                    <a href="index.html">Home/</a>
                    <a href="YogaNghethuat.html">Yoga Nghệ Thuật</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="col-md-6">
            <h1>Yoga nghệ thuật là gì?</h1>
            <p>
                Yoga nghệ thuật khác với các thể loại Yoga khác chủ yếu ở khía cạnh mục tiêu và cách tiếp cận. Dưới đây
                là một số điểm khác biệt giữa Yoga nghệ thuật và các thể loại Yoga khác:
            </p>
            <ul>
                <li>
                    <b>Mục tiêu</b>: Yoga nghệ thuật nhấn mạnh vào khía cạnh nghệ thuật và sáng tạo.
                    Nó tập trung vào việc thể hiện tư thế và chuyển động một cách tinh tế, đẹp mắt và truyền cảm.
                </li>
                <li>
                    <b>Phong cách biểu diễn</b>: Yoga nghệ thuật đòi hỏi người thực hiện có kiến thức sâu về
                    Yoga cùng với khả năng biểu diễn và tạo ra các tư thế phức tạp và tinh tế. Nó kết hợp các yếu tố
                    nghệ thuật như nhịp điệu, động tác mềm mại và sự linh hoạt để tạo ra một trình diễn đẹp mắt.
                </li>
                <li>
                    <b>Tập trung vào tinh thần và cảm xúc</b>: Yoga nghệ thuật cũng có thể sử dụng để truyền cảm hứng,
                    thể hiện ý tưởng và cảm xúc thông qua việc kết hợp âm nhạc, ánh sáng, trang phục và môi trường trình
                    diễn. Nó có thể tạo ra một trải nghiệm tâm linh và mang lại niềm vui sáng tạo.
                </li>
            </ul>
            <p>Tuy có những khác biệt này, quan trọng nhất là Yoga nghệ thuật và các thể loại Yoga khác đều đóng góp vào
                sức khỏe và trạng thái tinh thần của con người. Lựa chọn loại Yoga phù hợp với mục tiêu và sở thích của
                bạn là điều quan trọng.</p>
        </div>
    </div>
    <section class="ftco-section">
        <div class="container">
            <div class="section-header text-center wow zoomIn" data-wow-delay="0.1s">
                <h1>Lịch tập Yoga Nghệ Thuật tại trung tâm</h1>
            </div>
            <div class="row">
                <div class="col-md-12 ftco-animate">
                    <div class="sched-list">
                        <table class="table">
                            <thead class="thead-primary">
                                <tr class="text-center">
                                    <th>&nbsp;</th>
                                    <th>Thứ 2</th>
                                    <th>Thứ 3</th>
                                    <th>Thứ 4</th>
                                    <th>Thứ 5</th>
                                    <th>Thứ 6</th>
                                    <th>Thứ 7</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr class="text-center">
                                    <td class="color">
                                        <p class="time">7:00 - 8:00</p>
                                    </td>
                                    <td class="color-2">

                                    </td>
                                    <td class="color-2">

                                    </td>
                                    <td class="color-2">

                                    </td>
                                    <td class="color-2">

                                    </td>
                                    <td class="color-2">

                                    </td>
                                    <td class="color-2">

                                    </td>
                                </tr><!-- END TR-->

                                <tr class="text-center">
                                    <td class="color">
                                        <p class="time">8:30 - 9:30</p>
                                    </td>
                                    <td class="color-3">
                                        Class H
                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">
                                        Class H
                                    </td>
                                    <td class="color-3">

                                    </td>
                                    <td class="color-3">
                                        Class H
                                    </td>
                                    <td class="color-3">

                                    </td>
                                </tr><!-- END TR-->

                                <tr class="text-center">
                                    <td class="color">
                                        <p class="time">10:00 - 11:00</p>
                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>
                                    <td class="color-4">

                                    </td>

                                </tr><!-- END TR-->
                                <tr class="text-center">
                                    <td class="color">
                                        <p class="time">18:00 - 19:00</p>
                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">
                                        Class G
                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">
                                        Class G
                                    </td>
                                    <td class="color-5">

                                    </td>
                                    <td class="color-5">
                                        Class G
                                    </td>

                                </tr><!-- END TR-->
                                <tr class="text-center">
                                    <td class="color">
                                        <p class="time">19:30 - 20:30</p>
                                    </td>



                                    <td class="color-1">

                                    </td>

                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">

                                    </td>
                                    <td class="color-1">

                                    </td>
                                </tr><!-- END TR-->

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- Footer Start -->
    <div id="footer" class="footer wow fadeIn" data-wow-delay="0.3s">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="contact-form">
                        <div id="success"></div>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate">
                            <div class="control-group">
                                <input type="text" class="form-control" id="name" placeholder="Tên của bạn"
                                    required="required" data-validation-required-message="Vui lòng nhập tên của bạn" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" id="email" placeholder="Email"
                                    required="required" data-validation-required-message="Vui lòng nhập email" />
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" id="message" placeholder="Nhập tin nhắn"
                                    required="required" data-validation-required-message="Vui lòng nhập"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>

                            <div>
                                <button class="btn" type="submit" id="sendMessageButton">Gửi</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="container">
                        <div class="footer-info">
                            <a href="index.html" class="footer-logo">FY<span>o</span>ga</a>
                            <h3>Lô E2a-7, Đường D1, Khu Công nghệ cao, P.Long Thạnh Mỹ, Tp. Thủ Đức, Tp.HCM</h3>
                            <div class="footer-menu">
                                <p>092 752 8888</p>
                                <p>fyoga@gmail.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="container copyright">
                        <div class="row">
                            <div class="col-md-6">
                                <p>&copy; <a href="#">FYoga</a></p>
                            </div>
                            <div class="col-md-6">
                                <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
                                <p>Được thiết kế bởi <a href="https://htmlcodex.com">HTML Codex</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/isotope/isotope.pkgd.min.js"></script>
    <script src="lib/lightbox/js/lightbox.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>